<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.mapper.BoardMapper">

	<select id="getList" resultType="com.ict.persistent.BoardVO">
		<!-- <이나 >과 같이 태그로 오인될 수 있는 문자를 포함하는
		쿼리문은 그냥 작성하지 않고, CDATA를 이용합니다.
		아래와 같이 <![CDATA[ 실행문 ]]> 과 같이
		실행문을 CDATA 내부에 작성하면
		내부의 부등호는 전부 문자로 간주합니다. -->
		<![CDATA[
			SELECT * FROM board_tbl ORDER BY bno DESC
		]]>
	</select>
	
	<!-- 현재 insert는 BoardVO를 파라미터로 받고 있습니다.
	이 경우, VO 내부 변수를 #{변수명} 으로 쿼리문에 전달할 수 있습니다.
	${변수명} 이 아님을 주의해주세요. ${}은 나중에 프로젝트때 힌트로 알려주심. -->
	<insert id="insert">
		INSERT INTO board_tbl (bno, title, content, writer)
			VALUES
		(board_num.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<delete id="delete">
		DELETE FROM board_tbl WHERE bno = #{bno}
	</delete>
	
	<update id="update">
		UPDATE board_tbl SET title = #{title}, content = #{content}, writer = #{writer}, updatedate = SYSDATE WHERE bno = #{bno}
	</update>
	
</mapper>